@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
html {
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Poppins', sans-serif;
}
html > * {
  background: #313131;
}
body > * {
  padding-top: 10px;
}
.navbar-brand {
  font-weight: 900;
  font-size: 40px;
}
.navbar img{
  padding: 2rem 0;
}
.logo{
  width: 30%;
  height: 30%;
}
a {
  color: #fff;
}
.nav-item {
  margin-right: 5px;
  font-size: 15px;
}
.nav-link_bottom {
  height: 3px;
  background: linear-gradient(45deg, #6157ff, #4975cb);
}
.nav-link:hover {
  background: linear-gradient(45deg, #6157ff, #7e48cd);
  color: #fff;
}
.search_btn {
  background: #8E2EFF;
  outline: none;
  width: 10rem;
  border-radius: 0 50px 50px 0;
  border: none;
}
.banner_img img {
  width: 100%;
  padding: 1.5rem 0;
}
.trending_gifs {
  margin: 10px;
}
h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #fff;
  padding: 1em 0;
  margin: 0;
}
input[type="text"]{
  width: 100%;
  border-radius: 50px 0 0 50px;
  padding: 0 1em;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.searchbar{
  max-height: 3.3rem;
  margin-bottom: 2rem;
}
@media all and (max-width:480px){
  h3{
    font-size: 1.5rem;
  }
  .logo{
    width: 50%;
    height: 50%;
  }
  .searchbar{
    max-height: 3rem;
  }

}
