@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
html {
  font-family: 'Poppins', sans-serif;
}
html > * {
  background: #313131;
}
body > * {
  padding-top: 10px;
}
.search_btn {
  background: #8E2EFF;
  outline: none;
  width: 10rem;
  border-radius: 0 50px 50px 0;
  border: none;
}
.trending_gifs {
  margin: 10px;
}
h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #fff;
  /* padding: 1em 0.2rem 0; */
  padding: 0%;
  margin: 0 10%;
}
input[type="text"]{
  width: 100%;
  border-radius: 50px 0 0 50px;
  padding: 0 1em;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  outline: 0;
  border: 0;
  background: #fff;
}
.searchbar{
  max-height: 3.3rem;
  margin-bottom: 2rem;
  margin: 0 10%;
}
.logo{
  width: 30%;
  height: 30%;
  padding: 3rem;
  display: inline-block;
}
.page-footer{
  background: #8E2EFF;
}

#searched_element{
  margin-bottom: 1rem;
}

.grid_container{
  column-count: 4;
  column-gap: 1rem;
  margin: 0 10%;
  color: #313131;
  font-size: 0%;
}
.grid_container img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
  background-color: #8E2EFF;
}

@media all and (max-width:480px){
  h3{
    margin: 0 3%;
    font-size: 1.5rem;
    padding: 0;
  }
  .search_btn{
    width: 30%;
    padding: 0;
    display: inline-block;
    padding: auto;
  }
  .logo{
    width: 50%;
    height: 50%;
    margin: 10%;
    padding: 0%;
    display: inline-block;
  }

  .searchbar{
    margin: 0 3%;
    max-height: 2.7rem;
  }
  .grid_container{
    column-count: 2;
    column-gap: 0.7rem;
    margin: 0% 0.7rem;
  }
  .grid_container img{
    width: 100%;
    height: auto;
    margin-bottom: 0.7rem;
    border-radius: 5px;
  }

}
